

.list__reports__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding-bottom: 1rem;
    
}

.list__reports__container .card {
    --primary-clr: var(--blue-dark);
    --dot-clr: var(--blue-extradark);
    --play: var(--blue-extradark);
    width: 160px;
    height: 140px;
    border-radius: 10px;
   }
   
  .list__reports__container .card {
    font-family: "Arial";
    color: #fff;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
   }
   
   .list__reports__container .card:hover .img-section {
    transform: translateY(1em);
   }
   
   .list__reports__container .card-desc {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: -35px;
    display: grid;
    gap: 10px;
    background: var(--primary-clr);
   }
   
  .list__reports__container .card-time {
    font-size: 1.2rem;
    font-weight: 500;
   }
   
   .list__reports__container .img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--dot-clr);
   }
   
   .list__reports__container .card-header {
    display: flex;
    align-items: center;
    width: 100%;
   }
   
   .list__reports__container .card-title {
    flex: 1;
    /* letter-spacing: 1px; */
    font-size: 0.8rem;
    font-weight: 500;
   }
   
   .list__reports__container .card-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
   }
   
   .list__reports__container .card svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
   }
   
   .list__reports__container .card .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
   }
   
   .list__reports__container .card .recent {
    line-height: 0;
    /* letter-spacing: 1px; */
    font-size: 0.8rem;
   }