/* Modal container */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.1); /* Black with opacity */
  }
  
  /* Modal content */
  .modal-content {
    background-color: var(--blue-light);
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 50%;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .close-icon-container{
    width: 100%;
    /* background-color: #f6eeee; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    color: var(--text-blue-extradark);

  }
  /* Close button */
  .close {
    color: #EB5757;
    /* float: right; */
    font-size: 24px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  /* my work  */
  .modal-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 2rem;
    color: var(--text-grey-dark);
  }

  .modal-doctor-container{
    /* display: flex; */
    /* border: 2px solid red; */
    margin-top: 1rem;
    
    /* over flow (SCROLLING) functionality  */
    height: 220px;
    overflow: auto;
  }

  /* to remove scroll bar  */
  .modal-doctor-container::-webkit-scrollbar{
    display: none;
  }

  .modal-doctor-container{
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  .modal-doctor-list{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
  }

  .modal-doctor-list-item{
    display: flex;
    margin: 0.5rem 0rem;
    background: var(--white-light);
    /* border: 1px solid var(--grey-light); */
  }

  .list-item-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px solid green; */
  }

  .list-image-holder{
    /* width: 10%; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #888; */
  }



  .list-image-holder .image{
    width: 100%;
  }

img {
    width: 100%;
    object-fit: contain;
  }

.list-name{
    /* width: 25%; */
    flex: 3;
    height: 100%;
    /* background: #602a2a; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-date{
    /* width: 25%; */
    flex: 2;
    height: 100%;
    /* background: #907070; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-toggle-btn{
    /* width: 25%; */
    flex: 2;
    height: 100%;
    /* background: #c84c4c; */
    display: flex;
    justify-content: center;
    align-items: center;
}


































  /* Animation for modal */
  @keyframes modalFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes modalFadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  /* Apply animation to modal */
  .modal-show {
    animation: modalFadeIn 0.3s forwards;
  }
  
  .modal-hide {
    animation: modalFadeOut 0.3s forwards;
  }
  













  /* Doctor requesting permission for radiologist  */

.doct-btn {
  /* margin-top: 1.5rem; */
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
}


.list-toggle-btn button {
/* margin: 30px 20px; */
/* width: 50%; */
/* padding: 15px 20px; */
border-radius: 4px;
border: 2px solid green;
font: 16px 'Open Sans', sans-serif;
text-transform: uppercase;
background: none;
outline: none;
cursor: pointer;
transition: all .5s;
}

.doct-btn-7 {
  color:black;
  color: green;
  border-color: black;
  overflow: hidden; 
  position: relative;
  }
  
  .doct-btn:hover{
    background-color: rgb(207, 235, 207);
    /* color: black; */
  }






.permission-status{
  flex: 2;
/* background-color: rgba(189, 50, 50, 0.5); */
  display: flex;
  justify-content: center;
}

.permission-status > div{
  font-size: 0.8rem;
  padding: 8px 14px;
  border-radius: 20px;
  text-transform: uppercase;
  color: black;
}
.permission-status .danger {
  background-color: #ffdddd;
  /* border-left: 6px solid #f44336; */
}

.permission-status .success {
  background-color: #ddffdd;
  /* border-left: 6px solid #04AA6D; */
}

.permission-status .info {
  background-color: #e7f3fe;
  /* border-left: 6px solid #2196F3; */
}


.permission-status .warning {
  background-color: #ffffcc;
  /* border-left: 6px solid #ffeb3b; */
}