/* CredentialForm.css */

.paragraph {
  font-family: Arial, sans-serif; /* Specify font family */
  color: #333; /* Set text color */
  margin: 0 0 10px 0; /* Adjust margins (top, right, bottom, left) */
  padding: 0; 
  font-size: 15px;
  /* font-weight: bold; */
}

.loginrole{
  color: #051960;
  /* font-weight: bold; */
  font-size: 25px;
  text-align: center;
  text-Decoration: 'none';
  margin-top: -20px;
  margin-bottom: 20px;
}

.link{
  color: #036eff;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  text-decoration: none;
  float: right;
  margin: 10px 0px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    background-color: #fafcff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #2F80ED;
    position: absolute;
    left: calc(50% + 2px); /* Shift the container 150px to the right from the center */
    top: 50%; /* Center the container vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    padding: 60px 30px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #2f80ed;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .signup-btn {
    display: block;
    padding: 7px 10px;
    background-color: #4045FF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  /* .submit-btn:hover,
  .signup-btn:hover {
    background-color: #0056b3;
  } */
  
  .signup-link {
    text-align: center;
  }
  
  .signup-link .signup-btn {
    background-color: #28a745;
  }
  
  .signup-link .signup-btn:hover {
    background-color: #218838;
  }
  
  /* .signup-container {
    margin-top: 10px; 
  } */

  .horizontal-line {
    border: 0;
    height: 1px;
    width: 5px;
    flex: 1;
    background-color: #cdcdcd;
  }

  .or-Container{
    display: flex;
    align-items: center;
    color: #cdcdcd;
    margin: 10px;
  }
  
  .or{
    font-family: Arial, sans-serif; 
    /* margin: "0 5px"; */
    font-size: 15px;
    /* margin: 10px;  */
    /* font-weight: bold; */
    color: #cdcdcd;
  }