.lab-upload-form-container{
    /* background: #b98c8c; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 1rem 1rem;
    color: var(--text-blue-extradark);
}


.lab-upload-form-box {
    min-width: 40%;
    padding: 1rem;
    background-color: var(--white-light);
    /* border: 1px solid var(--text-blue-dark); */
    
}

.lab-upload-form-item{
    width: 100%;
    /* border:2px solid blue; */
    margin-bottom: 0.6rem;
}

.lab-upload-form-email,.lab-upload-form-remarks{
    width: 100%;
    display: block;
    margin-bottom: 0.2rem;
   
    /* border: 2px solid yellowgreen; */
}

textarea,input{
    line-height: 2;
    border: 1px solid var(--grey-light);
    cursor: pointer; 
}


.lab-upload-form-btn-submit{
    padding: 0.6rem 1rem;
    /* margin: 1rem; */
    margin-top: 1rem;
    margin-bottom: 0rem;
  display: block;
  width: 100%;
  background-color: rgba(5, 25, 96, 1);
  /* background-color: var(--blue-dark); */
  cursor: pointer;
    text-decoration: none;
    border: 0;
    font-size: var(--fs-button);
    letter-spacing: 2px;
    line-height: 1.5;
    color: var(--text-white-light);
}






/* FILE UPLOAD */

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* height: 400px; */
    border: 1px solid var(--grey-light);
    padding: 1.5rem 2rem;
  }
  
  .active {
    background-color: #5f5959;
  }
  
  button.drop-file-btn {
    padding: 0.6rem 1rem;
    margin: 1rem;
    margin-bottom: 0rem;
    display: block;
    width: 100%;
    background-color: rgba(45, 156, 219, 1);
    /* background-color: var(--blue-dark); */
    cursor: pointer;
      text-decoration: none;
      border: 0;
      font-size: var(--fs-button);
      letter-spacing: 2px;
      line-height: 1;
      color: var(--text-white-light);
  }
  
  
  /* .list-item {
    display: flex;
    padding: 0;
    margin: 8px 0;
    min-width: 300px;
    font-size: 22px;
    background-color: #d4d2d2;
    cursor: grab;
    border-radius: 10px;
  } */
  
  /* .list-item > h3 {
    padding: 10px;
    margin: 0;
  } */
  
  /* .list-item > span {
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    border-right: 2px solid white;
    padding: 10px;
    padding-right: 16px;
  } */
  
  
  
.next-position {
border: 2px solid #34d44f;
opacity: 0.2;
}

.dropzone  span{
  font-size: 0.8rem;
}

.dropzone .bx{
  font-size: 3rem;
  color: var(--blue-dark);
  color: rgba(45, 156, 219, 1);
}
    
/* -------------------------------- */
.lab-upload-form-item select {
  width: 100%;
  padding: 4px;
  line-height: 2;
  font-size: 16px;
  border: 1px solid var(--grey-light);
  appearance: none; 
  cursor: pointer; 
  margin-bottom: 0.2rem;
}

/* .lab-upload-form-item select:hover {
  border-color: #999;
} */

/* .lab-upload-form-item select:focus {
  outline: none;
  border-color: #4d90fe; 
  box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
} */
  