.patient-report-container{
    /* background-color: aqua; */
    margin:0rem 2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-400);
}

.all-items{
    width: 80%;
    background-color: var(--blue-light);
    padding: 1rem;

}

.element-name-heading {
    font-size: var(--fs-600);
    margin: 2rem 0rem 0.5rem 0rem;
    padding-left: 0.8rem;
    background-color: #fff;
}

.element-name-sub-navigation{
    display: flex;
    /* background: #827272; */
    border-bottom: 2px solid var(--grey-light);

}

.element-name-sub-navigation > div{
    /* background: #f4aeae; */
    padding: 0px 4px;
    margin: 10px 10px;

}


.nav-1{
    border-bottom: 3px solid var(--text-blue-dark);
}

.nav-2{

}

.nav-3{

}







