.patient-report-container{
    /* background-color: aqua; */
    margin:0rem 2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-400);
}

.all-items{
    width: 80%;
    background-color: var(--blue-light);
    padding: 1rem;

}

.element-name-heading {
    font-size: var(--fs-600);
    margin: 2rem 0rem 0.5rem 0rem;
    padding-left: 0.8rem;
    background-color: #fff;
}

.element-name-sub-navigation{
    display: flex;
    /* background: #827272; */
    border-bottom: 2px solid var(--grey-light);

}

.element-name-sub-navigation > div{
    /* background: #f4aeae; */
    padding: 0px 4px;
    margin: 10px 10px;

}


.nav-1{
    border-bottom: 3px solid var(--text-blue-dark);
}

.nav-2{

}

.nav-3{

}

.element-name-filter {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0px;
    

}

.element-name-filter > div {
    width: 30%;
}

.filter-type-dropdown{
    
}

.filter-type-search{

}

.filter-type-filter-by{

}




.element-name-report-list{
    margin-top: 2rem;
}

.report-heading{

}

.patient-reports-list{

}

.report-list-box{
    display: flex;
    
}

.report-data{
    justify-content: space-evenly;
    background-color: var(--text-white-light);
    margin-bottom: 1rem;
    padding: 0.5rem;
    
}

.report-data > div{
    min-width: 10%;
    /* background-color: #f4aeae; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-data > div:nth-child(6){
    min-width: 25%;
    /* background-color: #f4aeae; */
    /* border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.report-image {
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.image-box{
    background-color: #322e2e;
    width: 40%;
    /* border-radius: 6px; */
}

.image-box > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* border-radius: 6px; */
}


.report-button-container{
    display: flex;
    /* background-color: #bd6f6f; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}

.icon-buttons {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* background-color: #f4aeae; */
    width: 60%;
    /* margin-left: 4rem; */
}

.icon-box{
    padding: 0.4rem 0.4rem;
    /* width: 20%; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0rem 0.2rem; */
    color: rgba(45, 156, 219, 1);
    background-color: rgba(86, 204, 242, 0.3);
}

.icon-box:nth-child(4){
    color: rgba(235, 87, 87, 1);
    background-color: rgba(235, 87, 87, 0.3);
}