


.element-name-filter {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0px;
    

}

.element-name-filter > div {
    width: 30%;
}

.filter-type-dropdown{
    
}

.filter-type-search{

}

.filter-type-filter-by{

}




.element-name-report-list{
    margin-top: 2rem;
}

.report-heading{

}

.ul-container{
    height: 400px;
    overflow: auto;
}

.ul-container::-webkit-scrollbar{
    display: none;
}

.ul-container{
    -ms-overflow-style: none;
    scrollbar-width: none;     
}

.patient-reports-list{
    
    
}

.patient-reports-list::-webkit-scrollbar{
    /* display: none; */
}

.patient-reports-list{
    
}



.report-list-box{
    display: flex;
    
}

.report-data{
    justify-content: space-evenly;
    background-color: var(--text-white-light);
    margin-bottom: 1rem;
    padding: 0.5rem;
    
}

.report-data > div{

    /* error solved img  */
    /* min-width: 10%;
    max-width: 20%; */

    
    flex: 2;
    /* background-color: #f4aeae; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-data > div:nth-child(6){
    min-width: 25%;
    /* background-color: #f4aeae; */
    /* border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.report-image {
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.image-box{
    background-color: #322e2e;
    width: 40%;
    /* border-radius: 6px; */
}

.image-box > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* border-radius: 6px; */
}


.report-button-container{
    display: flex;
    /* background-color: #bd6f6f; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}

.icon-buttons {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* background-color: #f4aeae; */
    width: 60%;
    /* margin-left: 4rem; */
}

.icon-box{
    padding: 0.4rem 0.4rem;
    /* width: 20%; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0rem 0.2rem; */
    color: rgba(45, 156, 219, 1);
    background-color: rgba(86, 204, 242, 0.3);
}

.icon-box:nth-child(4){
    color: rgba(235, 87, 87, 1);
    background-color: rgba(235, 87, 87, 0.3);
}