
.patient-data-holder{
    /* display: flex; */
    /* height: 200px; */
}


.patient-report-holder{
    /* width: 50%; */
    height: 350px;
    margin-top: 1rem;
    overflow: auto;
    /* transition: var(--tran-05); */

    /* border-color: aqua; */
}

.patient-report-holder::-webkit-scrollbar{
    display: none;
}

.patient-report-holder{
    -ms-overflow-style: none;
    scrollbar-width: none;
}